.ipynb_checkpoints
.DS_Store
.vscode
*.pyc
*.bmp
*.wav
*.csv
*.rar
*.npy
*.pickle
*.zip
ps2/MATRIX.TEST
ps2/MATRIX.TRAIN
ps2/MATRIX.TRAIN.100
ps2/MATRIX.TRAIN.1400
ps2/MATRIX.TRAIN.200
ps2/MATRIX.TRAIN.400
ps2/MATRIX.TRAIN.50
ps2/MATRIX.TRAIN.800
ps4/q1/
ps4/q4/
ps4/q6/
CS224N_2020_Winter/a2/utils/datasets
CS224N_2020_Winter/a3/results
CS224N_2020_Winter/a4/sanity_check_en_es_data
model.bin
model.bin.optim
